<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seed - Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">SEED</div>

        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{{ url_for('check') }}">Check</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-content">
            <p class="welcome">Welcome to Seed</p>
            <h1>WE'RE CREATING HEALTHY SEEDS</h1>
            <p class="subtitle">Detecting the proper seed for the use!!</p>

            <a href="{{ url_for('check') }}" class="btn">GET STARTED</a>
        </div>
    </section>

</body>
</html>
